.hpcontainer {
    display: inline-flex;
}

.image {
    margin-left: 2%;
}

.maintext {
    width: 70%;
    padding-right: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.search-container {
    display: flex;
    margin-top: 7%;
}

.headtext {
    margin-bottom: 7%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.filter {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 1%;
    margin-top: 1%;
    background-color: #0541F0;
    border: none;
    border-radius: 5px;
}

.imagetg {
    margin-top: 35%;
    display: flex;
}