.App {
  margin-left: 200px;
  margin-right: 200px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App-link {
  color: #61dafb;
}

.nav-panel {
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 80px;
}

#title {
  text-decoration: none;
  color: #0541F0;
  font-style: "bold";
  font-size: 30px;
  font-weight: bold;
}

#title:hover{
  color: #0A1E64;
}

.nav-item {
  color:black;
}


.block {
  display: inline-block;
}

.log-in {
  color: black;
  display: inline;
}

